<footer class="bg-gradient-to-r from-purple-600 to-fuchsia-600">
    <div class=" max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="w-full text-white">
            <div class="pb-12 px-3 sm:px-0">
                <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2 justify-around">
                    <div class="w-full mb-3 sm:w-2/5 pr-6 flex flex-col space-y-4 font-raleway">
                        <h3 class="text-3xl text-white font-siliguri font-semibold">Rental BD</h3>
                        <p class="text-gray-200 font-siliguri leading-4">Concord Royal Court (3rd Floor) Dhanmondi, Dhaka 1209, Bangladesh</p>
                    </div>
                    <div class="w-full sm:w-1/5 flex flex-col space-y-4">
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>About Us</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>FAQ</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Our Services</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Contact</a>
                    </div>
                    <div class="w-full sm:w-1/5 flex flex-col space-y-4">
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Report an issue</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Get Support</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Privacy Policy</a>
                        <a href="#" class="opacity-70 text-gray-300 hover:opacity-100"><span class="text-xl mr-2">&#8594;</span>Terms of Service</a>
                    </div>
                    <div class="w-full sm:w-1/5 pt-6 flex items-end mb-1">
                        <div class="flex flex-row space-x-4">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-google"></i>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="tracking-tight font-poppins font-light text-center sm:flex sm:justify-between">
                    <p class="text-gray-100">Made with <span class="text-rose-500">&hearts;</span> remotely from Bangladesh</p>
                    <p class="text-gray-100">&copy; 2021 Rental BD.</p>
                </div>
            </div>
        </div>
    </div>
</footer>